* {
  box-sizing: border-box;
}

.background::before {
  content:"";
  background-image: url("https://archive-media-1.nyafuu.org/vp/image/1471/57/1471577967106.png");
  background-size: cover;
  position: absolute;
  opacity: 0.25;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


h1 {
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-left: 30px;
}

ul {
  position:relative;
  list-style-type: none;
  margin: 20px;
  padding: 0px;
}

.pokeName {
  list-style-type: none;
  background-color: #b0170c;
  color: white;
  height: 40px;
  width: 95%;
  max-width: 400px;
  margin: 10px;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 20px;
}

.loading-bar {
  position:fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position:fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow:auto;
  display: grid;
  text-align: center;
}

.modal {
  margin:auto;
  display: inline-block;
  background: #ff7676;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close-button {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

@media all and (max-width: 500px) {
  h1 {
    position: relative;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
  }

  ul {
    margin: 5px;
  }

  .pokeName {
    max-width: none;
  }

  .loading-bar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}
